.mainContDet {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      rgb(12, 1, 20),
      rgba(31, 11, 41, 0.644)
    ),
    url("/public/Images/1366_2000.jpg");
}

.cardDetail {
  width: 1350px;
  height: 500px;
  background: transparent;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.cardLeft {
  width: 40%;
  height: 500px;
  float: left;
  overflow: hidden;
  background: transparent;
}

.imgDetail {
  width: 129%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.cardRight {
  width: 58%;
  height: auto;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0 10px 10px 0;
}

.titleDetail {
  font-size: 40px;
  text-align: left;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
  font-family: "Nunito";
  font-weight: bolder;
}

.cardRight ul {
  list-style-type: none;
  padding: 0 250px 0 0;
}

.cardRight ul li {
  display: flex;
  color: #000000;
  font-size: 20px;
  padding: 0 0 9px 40px;
  text-align: justify;
  font-family: "Gruppo";
  font-weight: bolder;
  word-spacing: 3px;
}

.cardRight p {
  font-size: 15px;
  padding: 0 40px 0 40px;
  word-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 17px;
  text-align: justify;
  font-weight: 400;
  font-family: "Nunito";
}

.genreDetail {
  font-family: "Gruppo";
  font-weight: bolder;
  font-size: 150px;
}

.backButtonDet {
  margin-top: 650px;
  margin-bottom: 40px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  background-color: #9147ff;
  font-family: "Gruppo";
  font-size: 1.5rem;
  font-weight: bolder;
  height: 45px;
  width: 85px;
  justify-content: center;
}
